1. The user shall provide the type of shape using flags
2. The user shall input using specified syntax
3. The program shall read from an input file.
4. The program shall output to a file
5. If the user doesn't provide valid flags then the program shall terminate.
6. The program shall tell the user what they did wrong.
7. The program shall terminate if the file doesn't exist.
8. The program shall parse the text from input.txt
9. The program shall terminate if the input is invalid.
10. The program shall print the menu if the user